{% extends 'base.html' %}

{% block body %}
    
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>
                    <a href="{% url 'articles:detail' id=article.id %}">detail</a>

                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>
{% endblock %}